.header__lang-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-right: 18px;
  color: #FFFFFF;
  display: inline-block;
  align-self: flex-end;
  text-decoration: none;
}

.header__lang-link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 560px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
    align-self: flex-end;
    padding-bottom: 5px;
  }
}
